<div *ngIf="item" class="item-list">
 <mat-card class="item-list">
  <mat-card-title>User List</mat-card-title>
  <mat-card-content><strong>ID :</strong>{{item.id}}</mat-card-content>
  <mat-card-content><strong>FirstName :</strong>{{item.firstName}}</mat-card-content>
  <mat-card-content><strong>LastName :</strong>{{item.lastName}}</mat-card-content>
  <mat-card-content><strong>Department & Budget :</strong>{{item.DepartmentBudget}}</mat-card-content>
  <mat-card-content><strong>IsAdmin :</strong>{{item.isAdmin}}</mat-card-content>
  <mat-card-content><strong>PhoneNumber :</strong>{{item.PhoneNumber}}</mat-card-content>

  </mat-card>
</div>
