<div class="container">
  <h2>Student List</h2>

    <div class="user" *ngFor="let item of userList;">
      <p>ID:{{item.id}}</p>
      <p>Firstname: {{item.firstName}}</p>
      <p>Lastname: {{item.lastName}}</p>
      <p>isAdmin:{{item.isAdmin?'Yes':'No'}}</p>
      <p>department:{{item.department}}</p>
      <button type="button" (click)="delete(item.id)">Delete</button>
      <button type="button" (click)="edit()">edit</button>

    </div>
  <div *ngIf="error" class="error">{{error}}</div>

</div>
