<div class="container">
  <h2>Student List</h2>

    <mat-list class="user" *ngFor="let item of userList" [routerLink]="['/item',item.id]"  [appHoverHighlight]="'blue'" role="list">
      <mat-list-item>ID:{{item.id}}</mat-list-item>
      <mat-list-item>Firstname: {{item.firstName| uppercase}}</mat-list-item>
      <mat-list-item>Lastname: {{item.lastName}}</mat-list-item>
      <mat-list-item>Date: {{item.date| date : 'longDate'}}</mat-list-item>
      <mat-list-item>isAdmin:{{item.isAdmin?'Yes':'No'}}</mat-list-item>
      <mat-list-item>Department & Budget:{{item.DepartmentBudget}}</mat-list-item>
      <div class="button-group">
      <button mat-raised-button color="primary" type="button" (click)="delete(item.id)" [appHoverHighlight]="'red'">Delete</button>
      <button  mat-raised-button color="primary" type="button" (click)="edit(item.id)" [appHoverHighlight]="'red'">Edit</button>
      </div>
    </mat-list>
  <div *ngIf="error" class="error">{{error}}</div>

</div>
